# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
run
log
libs
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
*test*
pic
*.psd
*.bak

# Files from Forge MDK
forge*changelog.txt
/changelog.txt
/LICENSE-Paulscode IBXM Library.txt
/LICENSE.txt
/LICENSE-Paulscode SoundSystem CodecIBXM.txt
/CREDITS.txt
